<footer class="footer">
    <div class="container">
        <div class="el-row">
            <div class="footer-left el-col el-col-sm-16">
                <ul class="el-row">
                    <li class="el-col el-col-sm-6">
                        <ul class="footer-left-item">
                            <li>产品</li>
                            <li>
                                <a href="javascript:void(0)">关务操作管理系统CMS</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">仓储管理系统WMS</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">运输调度系统TMS</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">运输调度系统TMS</a>
                            </li>
                        </ul>
                    </li>
                    <li class="el-col el-col-sm-5">
                        <ul class="footer-left-item">
                            <li>报关工具</li>
                            <li>
                                <a href="javascript:void(0)">服务</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">查询</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">插件</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">AEO认证管家</a>
                            </li>
                        </ul>
                    </li>
                    <li class="el-col el-col-sm-5">
                        <ul class="footer-left-item">
                            <li>公司介绍</li>
                            <li>
                                <a href="javascript:void(0)">关于我们</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">加入我们</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">合作伙伴</a>
                            </li>
                        </ul>
                    </li>
                    <li class="el-col el-col-sm-8">
                        <ul class="footer-left-item footer-left-relation">
                            <li>在线交流</li>
                            <li>
                                <a href="javascript:void(0)">0755-82837000-555</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">service@yunbaoguan.cn</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">2108396994</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">深圳市南山区南山智园B1栋</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="footer-right el-col el-col-sm-8">
                <img src="./assets/img/header-footer/customerService.png" alt="微信公众号">
                <img src="./assets/img/header-footer/customerService.png" alt="客服公众号">
            </div>
        </div>
        <div class="footer-bottom"><span>Copyright © 深圳市慧通关网络科技有限公司</span> <a href="#">粤ICP备13061315号</a></div>
    </div>
</footer>
</body>

</html>