<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= pageTitle %></title>
	<meta name="keywords" <% if (keywords) { %> content="<%= keywords %>"
		<% } else {%> content="云报关管理系统,国际贸易单一窗口申报对接服务商,进出口通关申报系统"
		<%} %> >
	<meta name="description" <% if (description) { %> content="<%= description %>"
		<% } else {%> content="深圳市慧通关网络科技有限公司是中国首家在SAAS领域推出外贸CMS产品的互联网公司。公司主要推出四大系统分别是：云报关管理系统CMS、仓储管理系统WMS、运输调度系统TMS、AEO认证管家。"
		<%} %> >
</head>

<body>