<!-- banner -->
<div class="banner m-t-50">
    <img class="xs-hide" src="./assets/img/tms/banner.jpg" alt="banner">
    <img class="xs-show" src="./assets/img/tms/banner-small.jpg" alt="banner">
</div>

<!-- 板块1 -->
<div class="bg-f4f4f4 p-60-0">
    <div class="container tms">
        <div class="el-row">
            <div class="el-col el-col-xs-24 el-col-sm-12 tms-img xs-t-a-c xs-show">
                <img src="./assets/img/tms/f2.png">
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-12">
                <div class="tms-1">
                    <div class="tms-content xs-t-a-c">
                        <h1 class="tms-title">轻量页面 高效操作</h1>
                        <ul class="tms-text">
                            <li>精心排布的网页</li>
                            <li>用户只需将核心数据告诉应用</li>
                            <li>减少操作达到高效的目的</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-12 tms-img xs-t-a-c xs-hide">
                <img src="./assets/img/tms/f2.png">
            </div>
        </div>
    </div>
</div>

<!-- 板块2 -->
<div class="bg-5cb2ed p-60-0">
    <div class="hlhs-2 xs-hide">
        <img src="./assets/img/tms/f3-small.png">
    </div>
    <div class="container tms">
        <div class="el-row">
            <div class="el-col el-col-xs-24 el-col-sm-12 tms-img xs-t-a-c">
                <img src="./assets/img/wms/f4.png">
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-12">
                <div class="tms-2 p-t-40">
                    <div class="tms-content xs-t-a-c">
                        <h1 class="tms-title">行车轨迹 实时查看</h1>
                        <ul class="tms-text">
                            <li>司机端接单后会记录形式轨迹</li>
                            <li>并且在到达指定区域附近时会及时反馈给调度员</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 板块3 -->
<div class="bg-f4f4f4 p-60-0">
    <div class="container tms">
        <div class="el-row">
            <div class="el-col el-col-xs-24 el-col-sm-12 tms-img xs-t-a-c xs-show">
                <img style="width: 96%;margin-bottom: 20px;" src="./assets/img/tms/f4.png">
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-12">
                <div class="tms-1" style="margin-top: 0">
                    <div class="tms-content xs-t-a-c">
                        <h1 class="tms-title">在线调度 手机接收</h1>
                        <ul class="tms-text">
                            <li>云端调度司机工作</li>
                            <li>通过移动端查看本次车辆任务及反馈过程中的必要数据</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-12 tms-img xs-t-a-c xs-hide">
                <img src="./assets/img/tms/f4.png">
            </div>
        </div>
    </div>
</div>

<!-- 板块4 -->
<div class="banner">
    <img class="xs-hide" src="./assets/img/tms/f5.jpg">
    <img class="xs-show" src="./assets/img/tms/f5-small.jpg">
</div>