<div class="banner m-t-50">
	<div id="banner-swiper" class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<img class="xs-hide" src="./assets/img/index/customs.jpg">
				<img class="xs-show" src="./assets/img/index/customs-small.jpg">
			</div>
			<div class="swiper-slide">
				<img class="xs-hide" src="./assets/img/index/plugins.jpg">
				<img class="xs-show" src="./assets/img/index/plugins-small.jpg">
			</div>
			<div class="swiper-slide">
				<img class="xs-hide" src="./assets/img/index/service.jpg">
				<img class="xs-show" src="./assets/img/index/service-small.jpg">
			</div>
			<div class="swiper-slide">
				<img class="xs-hide" src="./assets/img/index/aeo.jpg">
				<img class="xs-show" src="./assets/img/index/aeo-small.jpg">
			</div>
		</div>
		<!-- 如果需要分页器 -->
		<div class="swiper-pagination"></div>

		<!-- 如果需要导航按钮 -->
		<!-- <div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div> -->
	</div>
</div>
<!-- 特色 -->
<div class="container m-t-30 m-b-60">
	<ul class="el-row index-feature">
		<li class="el-col el-col-xs-12 el-col-sm-6 t-a-c">
			<img src="./assets/img/index/through.png">
			<h3>通/Thr</h3>
			<p>一键申报&nbsp;&nbsp;全国通关</p>
		</li>
		<li class="el-col el-col-xs-12 el-col-sm-6 t-a-c">
			<img src="./assets/img/index/fast.png">
			<h3>好/Goo</h3>
			<p>简单快速&nbsp;&nbsp;实用高效</p>
		</li>
		<li class="el-col el-col-xs-12 el-col-sm-6 t-a-c">
			<img src="./assets/img/index/good.png">
			<h3>省/Che</h3>
			<p>智能审核&nbsp;&nbsp;控制差错</p>
		</li>
		<li class="el-col el-col-xs-12 el-col-sm-6 t-a-c">
			<img src="./assets/img/index/cheap.png">
			<h3>通/Thr</h3>
			<p>省时省力&nbsp;&nbsp;省钱省心</p>
		</li>
	</ul>
</div>
<!-- 产品 -->
<div class="bg-f5f5f5">
	<div class="container p-60-0 xs-p-0-10">
		<div class="index-title t-a-c">
			<img src="./assets/img/index/decoration-1.png">
			<h1>平台核心产品</h1>
			<p>在线下单&nbsp;&nbsp;全程跟踪&nbsp;&nbsp;信息共享&nbsp;&nbsp;简单高效&nbsp;&nbsp;安全无忧</p>
		</div>
		<ul class="el-row index-product">
			<li class="el-col el-col-xs-24 el-col-sm-12 el-col-md-6 t-a-c">
				<img src="./assets/img/index/CMS.png">
				<h3>
					<a href="javascript:void(0)">云报关管理系统CMS</a>
				</h3>
				<p>一键制单&nbsp;&nbsp;模板导入&nbsp;&nbsp;智能纠错</p>
				<p>状态跟踪&nbsp;&nbsp;附件生成&nbsp;&nbsp;财务报表</p>
				<a href="#">
					<button type="button" class="btn-blue m-t-20">立即前往</button>
				</a>
			</li>
			<li class="el-col el-col-xs-24 el-col-sm-12 el-col-md-6 t-a-c">
				<img src="./assets/img/index/WMS.png">
				<h3>
					<a href="javascript:void(0)">仓储管理系统WMS</a>
				</h3>
				<p>入库管理&nbsp;&nbsp;出库管理</p>
				<p>货位跟踪&nbsp;&nbsp;报表结算</p>
				<a href="#">
					<button type="button" class="btn-blue m-t-20">立即前往</button>
				</a>
			</li>
			<li class="el-col el-col-xs-24 el-col-sm-12 el-col-md-6 t-a-c">
				<img src="./assets/img/index/TMS.png">
				<h3>
					<a href="javascript:void(0)">运输调度系统TMS</a>
				</h3>
				<p>车辆管理&nbsp;&nbsp;运输调度</p>
				<p>定位跟踪&nbsp;&nbsp;财务结算</p>
				<a href="#">
					<button type="button" class="btn-blue m-t-20">立即前往</button>
				</a>
			</li>
			<li class="el-col el-col-xs-24 el-col-sm-12 el-col-md-6 t-a-c">
				<img src="./assets/img/index/A-E-O.png">
				<h3>
					<a href="javascript:void(0)">AEO认证管家</a>
				</h3>
				<p>系统评估&nbsp;&nbsp;方案优化&nbsp;&nbsp;分工明确</p>
				<p>节点控制&nbsp;&nbsp;模板推荐&nbsp;&nbsp;认证无忧</p>
				<a href="#">
					<button type="button" class="btn-blue m-t-20">立即前往</button>
				</a>
			</li>
		</ul>
	</div>
</div>

<!-- 舱单 -->
<div class="bg-6aaeec">
	<div class="container p-60-0">
		<div class="el-row" style="margin: 0 -20px">
			<div class="index-title el-col el-col-xs-24 el-col-sm-8 xs-t-a-c" style="padding: 0 20px">
				<div class="xs-p-0-10">
					<img src="./assets/img/index/decoration-2.png">
					<h1>舱单服务</h1>
					<p>为全国各地跨关区作业的报关企业或货代企业搭建一个
						<strong>共享舱单申报</strong>的第三方平台。</p>
					<p class="m-t-10">用户可一站共享
						<strong>深圳（皇岗、文锦渡、深圳湾、盐田、蛇口、大铲湾）舱单服务，</strong>方便物流服务方便物流服务商一体化为客户解决口岸舱单申报的问题，并且平台提供配套口岸落地的增值服务：
						<strong>递单、缴费、换单、查验等。</strong>
					</p>
				</div>
			</div>
			<div class="index-product el-col el-col-xs-24 el-col-sm-16" style="padding: 0 20px">
				<ul class="el-row xs-p-0-10">
					<li class="el-col el-col-xs-24 el-col-sm-12 t-a-c">
						<img src="./assets/img/index/ROAD.png">
						<h3>
							<a href="javascript:void(0)">公路舱单申报</a>
						</h3>
						<p>深圳公路舱单申报、进出港车确报</p>
						<p>状态跟踪等</p>
						<a href="#">
							<button type="button" class="btn-blue m-t-20">立即前往</button>
						</a>
					</li>
					<li class="el-col el-col-xs-24 el-col-sm-12 t-a-c">
						<img src="./assets/img/index/sea.png">
						<h3>
							<a href="javascript:void(0)">海运舱单申报</a>
						</h3>
						<p>共享深圳盐田、蛇口、大铲湾预配</p>
						<p>舱单申报服务</p>
						<a href="#">
							<button type="button" class="btn-blue m-t-20">立即前往</button>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- 合作伙伴 -->
<div class="container p-t-40 p-b-60">
	<ul id="index-partner" class="el-row" style="margin: 0 -5px;">
		<%for(var i=0;i<partnerNum;i++){%>
			<li class="el-col el-col-xs-12 el-col-sm-8 el-col-md-6 el-col-lg-4 index-partner-li"><div></div></li>
			<%}%>
	</ul>
</div>