<!-- banner -->
<div class="banner p-b-60">
    <div class="banner-title p-60-0">
        <h1>Excel制单助手</h1>
        <p>不懂编码和要素，&nbsp;&nbsp;也能做好报关单</p>
        <p>报关小帮手，&nbsp;&nbsp;从制单源头为您解忧</p>
    </div>
    <div class="container p-0-80">
        <div class="banner-content el-row">
            <div class="el-col el-col-xs-24 el-col-sm-12">
                <div class="icon-box">
                    <img src="./assets/img/plugin/插件logo.png">
                </div>
                <h2>制单助手插件v1.1.4.4585现已上线</h2>
                <div class="btn-box">
                    <a role="button" href="http://cms.yunbaoguan.cn/appdown/%E5%88%B6%E5%8D%95%E5%8A%A9%E6%89%8B.rar" class="el-button btn-main">
                        <span>下载助手</span>
                    </a>
                    <a role="button" target="_blank" href="/home/pluginproblem.html" class="el-button btn-default">
                        <span>常见问题</span>
                    </a>
                </div>
                <div class="text-box p-t-60">
                    <p>运行环境：Windows7、Windows8、Windows10</p>
                    <p>应用版本：EXCEL2007、2010、2013</p>
                </div>
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-12">
                <img class="banner-img" src="./assets/img/plugin/computer.png">
            </div>
        </div>
    </div>
</div>


<!-- 板块1 -->
<div class="p-60-0">
    <div class="container plugin p-0-80">
        <div class="plugin-title t-a-c p-40-0">
            <h2>
                <span>智能归类</span>小秘书</h2>
            <p>精准推荐品名&nbsp;&nbsp;&nbsp;自动商品归类&nbsp;&nbsp;&nbsp;提醒监管风险&nbsp;&nbsp;&nbsp;规范申报要素</p>
        </div>
        <div class="el-row p-40-0">
            <div class="el-col el-col-xs-24 el-col-sm-14 xs-t-a-c plugin-img">
                <img src="./assets/img/plugin/section1-1.png">
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-10 p-t-40">
                <div class="plugin-content xs-t-a-c">
                    <h3>1. 点击“商品归类”， 在输入框里录入要 查询的商品名称</h3>
                </div>
            </div>
        </div>
        <div class="el-row p-40-0">
            <div class="el-col el-col-xs-24 el-col-sm-12 t-a-c plugin-img xs-show">
                <img src="./assets/img/plugin/section1-2.png">
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-10 p-t-40">
                <div class="plugin-content xs-t-a-c">
                    <h3>2. 找到匹配的名称及推荐的编码，系统提示监管条件和商品申报要素 </h3>
                </div>
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-14 t-a-r plugin-img xs-hide">
                <img src="./assets/img/plugin/section1-2.png">
            </div>
        </div>
        <div class="el-row p-40-0">
            <div class="el-col el-col-xs-24 el-col-sm-14 xs-t-a-c plugin-img">
                <img src="./assets/img/plugin/section1-3.png">
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-10 p-t-40">
                <div class="plugin-content xs-t-a-c">
                    <h3>3. 选择合适的要素， 点击复制， 可直接粘贴到表格指定位置 </h3>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 板块2 -->
<div class="bg-fafafa p-60-0">
    <div class="container plugin p-0-80">
        <div class="plugin-title t-a-c p-40-0">
            <h2>
                <span>申报要素</span>小帮手</h2>
            <p>提示申报要求&nbsp;&nbsp;&nbsp;推荐合适品名&nbsp;&nbsp;&nbsp;精准搜索要素&nbsp;&nbsp;&nbsp;自动复制粘贴</p>
        </div>
        <div class="el-row p-40-0">
            <div class="el-col el-col-xs-24 el-col-sm-12 t-a-c plugin-img xs-show">
                <img src="./assets/img/plugin/section2-1.png">
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-10 p-t-40">
                <div class="plugin-content xs-t-a-c">
                    <h3>1. 先选已知的商品编码， 点击工具栏“申报要素”， 右侧会跳出海关商品要素提示框</h3>
                </div>
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-14 t-a-r plugin-img xs-hide">
                <img src="./assets/img/plugin/section2-1.png">
            </div>
        </div>
        <div class="el-row p-40-0">
            <div class="el-col el-col-xs-24 el-col-sm-14 xs-t-a-c plugin-img">
                <img src="./assets/img/plugin/section2-2.png">
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-10 p-t-40">
                <div class="plugin-content xs-t-a-c">
                    <h3>2. 点击“推荐品名及要素”， 系统会提示常用申报商品名称</h3>
                </div>
            </div>
        </div>
        <div class="el-row p-40-0">
            <div class="el-col el-col-xs-24 el-col-sm-12 t-a-c plugin-img xs-show">
                <img src="./assets/img/plugin/section2-3.png">
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-10 p-t-40">
                <div class="plugin-content xs-t-a-c">
                    <h3>3. 点击需求的“商品品名”， 系统会推荐常用规范的商品申报要素</h3>
                </div>
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-14 t-a-r plugin-img xs-hide">
                <img src="./assets/img/plugin/section2-3.png">
            </div>
        </div>
        <div class="el-row p-40-0">
            <div class="el-col el-col-xs-24 el-col-sm-14 xs-t-a-c plugin-img">
                <img src="./assets/img/plugin/section2-4.png">
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-10 p-t-40">
                <div class="plugin-content xs-t-a-c">
                    <h3>4. 点击所需申报要素， 自动跳到右侧要素框， 再找到表格中录入要素的坐标，点击“确定” 可自动粘贴规范的申报要素</h3>
                </div>
            </div>
        </div>
    </div>
</div>