<!-- banner -->
<div class="banner m-t-50">
    <img class="xs-hide" src="./assets/img/aeo/aeo.jpg">
    <img class="xs-show" src="./assets/img/aeo/aeo-small.jpg">
</div>

<!-- 板块1 -->
<div class="p-60-0">
    <div class="container aeo">
        <div class="el-row">
            <div class="el-col el-col-xs-24 el-col-sm-12 xs-t-a-c aeo-img">
                <img src="./assets/img/aeo/f2.png">
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-12 p-t-40">
                <div class="aeo-1">
                    <div class="aeo-content xs-t-a-r-c">
                        <h1 class="aeo-title">由始至终 井然有序</h1>
                        <ul class="aeo-text">
                            <li>项目框架体系初始化，您只需根据实际情况合理调整</li>
                            <li>按流程逐一完成，您也能轻松有序地开展认证</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 板块2 -->
<div class="bg-5cb2ed p-60-0">
    <div class="hlhs-2">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="container aeo">
        <div class="el-row">
            <div class="el-col el-col-xs-24 el-col-sm-12 xs-t-a-c aeo-img xs-show">
                <img src="./assets/img/aeo/f3.png">
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-12 p-t-40">
                <div class="aeo-2">
                    <div class="aeo-content xs-t-a-c">
                        <h1 class="aeo-title">条理清晰 分工明确</h1>
                        <ul class="aeo-text">
                            <li>任务分配是把任务分配给负责人</li>
                            <li>负责人把任务分配给主办人</li>
                            <li>条理清晰，任务明确，责任到人</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-12 xs-t-a-c aeo-img xs-hide">
                <img src="./assets/img/aeo/f3.png">
            </div>
        </div>
    </div>
</div>

<!-- 板块3 -->
<div class="p-60-0">
    <div class="container aeo">
        <div class="el-row">
            <div class="el-col el-col-xs-24 el-col-sm-12 xs-t-a-c aeo-img">
                <img src="./assets/img/aeo/f4.png">
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-12 p-t-40">
                <div class="aeo-1">
                    <div class="aeo-content xs-t-a-r-c">
                        <h1 class="aeo-title">进展可控 一目了然</h1>
                        <ul class="aeo-text">
                            <li>每个任务完成后，系统将自动更新进度</li>
                            <li>让您轻松把控项目进度</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 板块4 -->
<div class="bg-5cb2ed p-60-0">
    <div class="container aeo">
        <div class="el-row">
            <div class="el-col el-col-xs-24 el-col-sm-12 xs-t-a-c aeo-img xs-show m-t--40">
                <img src="./assets/img/aeo/f5.png">
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-8 p-t-40">
                <div class="aeo-4">
                    <div class="aeo-content xs-t-a-c">
                        <h1 class="aeo-title">高效协作 事半功倍</h1>
                        <ul class="aeo-text">
                            <li>分工合作，有条不紊的完善任务</li>
                            <li>事半功倍的完成任务</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-16 xs-t-a-c aeo-img xs-hide m-t--40">
                <img src="./assets/img/aeo/f5.png">
            </div>
        </div>
    </div>
</div>

<!-- 板块5 -->
<div class="p-60-0">
    <div class="container aeo">
        <div class="el-row">
            <div class="el-col el-col-xs-24 el-col-sm-12 xs-t-a-c aeo-img">
                <img src="./assets/img/aeo/f6.png">
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-12 p-t-40">
                <div class="aeo-1">
                    <div class="aeo-content xs-t-a-r-c">
                        <h1 class="aeo-title">数据存储 安全保密</h1>
                        <ul class="aeo-text">
                            <li>全部采用行业通用的阿里云服务对数据进行实时</li>
                            <li>备份及加密存储，无法窥视和买卖用户数据</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 板块6 -->
<div class="bg-5cb2ed p-60-0">
    <div class="container aeo">
        <div class="el-row">
            <div class="el-col el-col-xs-24 el-col-sm-12 xs-t-a-c aeo-img xs-show">
                <img src="./assets/img/aeo/f7.png">
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-12 p-t-40">
                <div class="aeo-6">
                    <div class="aeo-content t-a-c">
                        <h1 class="aeo-title">档案齐备 复认无忧</h1>
                        <ul class="aeo-text">
                            <li>齐全完整的档案</li>
                            <li>一键调取，轻松应对，复认永无烦忧</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-12 xs-t-a-c aeo-img xs-hide">
                <img src="./assets/img/aeo/f7.png">
            </div>
        </div>
    </div>
</div>