<!-- banner -->
<div class="banner m-t-50">
    <img class="xs-hide" src="./assets/img/wms/banner.jpg" alt="banner">
    <img class="xs-show" src="./assets/img/wms/banner-small.jpg" alt="banner">
</div>

<!-- 板块1 -->
<div class="bg-f4f4f4 p-60-0">
    <div class="container wms">
        <div class="el-row">
            <div class="el-col el-col-xs-24 el-col-sm-12 wms-img xs-t-a-c">
                <img src="./assets/img/wms/f2.png">
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-12">
                <div class="wms-1">
                    <div class="hlhs-1 xs-hide"></div>
                    <div class="wms-content xs-t-a-c">
                        <h1 class="wms-title">先进的互联网预约交仓数据合规平台</h1>
                        <ul class="wms-text">
                            <li>先进的预约交仓理念</li>
                            <li>全方位的数据审核校验</li>
                            <li>智能关务信息纠错，让您轻松和安心</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 板块2 -->
<div class="bg-5cb2ed p-60-0">
    <div class="container wms">
        <div class="el-row">
            <div class="el-col el-col-xs-24 el-col-sm-12 wms-img t-a-c xs-show">
                <img src="./assets/img/wms/f3.png">
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-12">
                <div class="wms-2">
                    <div class="wms-content xs-t-a-c">
                        <h1 class="wms-title">按约交仓 未卜先知</h1>
                        <ul class="wms-text">
                            <li>货主方提前
                                <span>预约交仓时间</span>
                            </li>
                            <li>到仓卸货，减少等待</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-12 wms-img t-a-r xs-hide">
                <img src="./assets/img/wms/f3.png">
            </div>
        </div>
    </div>
    <div class="hlhs-2">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<!-- 板块3 -->
<div class="bg-f4f4f4 p-60-0">
    <div class="container wms">
        <div class="el-row">
            <div class="el-col el-col-xs-24 el-col-sm-12 wms-img xs-t-a-c">
                <img src="./assets/img/wms/f4.png">
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-12">
                <div class="wms-3 p-t-60">
                    <div class="wms-content xs-t-a-r-c">
                        <h1 class="wms-title">提前预审 数据精准</h1>
                        <ul class="wms-text">
                            <li>货物+关务数据提前预审</li>
                            <li>人工+智能共为准确报关护航</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 板块4 -->
<div class="bg-5cb2ed p-60-0">
    <div class="container wms">
        <div class="el-row">
            <div class="el-col el-col-xs-24 el-col-sm-12 wms-img t-a-c xs-show">
                <img src="./assets/img/wms/f5.png">
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-12">
                <div class="wms-4">
                    <div class="wms-content xs-t-a-c">
                        <h1 class="wms-title">无须安装
                            <br>互联网登陆</h1>
                        <ul class="wms-text">
                            <li>货主方提前
                                <span>预约交仓时间</span>
                            </li>
                            <li>到仓卸货，减少等待</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-12 wms-img t-a-r xs-hide">
                <img src="./assets/img/wms/f5.png">
            </div>
        </div>
    </div>
    <div class="hlhs-4 xs-hide">
        <p></p>
    </div>
</div>

<!-- 板块5 -->
<div class="bg-f4f4f4 p-60-0">
    <div class="container wms">
        <div class="el-row">
            <div class="el-col el-col-xs-24 el-col-sm-12 wms-img xs-t-a-c">
                <img src="./assets/img/wms/f6.png">
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-12 xs-t-a-r-c">
                <div class="wms-5 p-t-60">
                    <div class="wms-content xs-t-a-c">
                        <h1 class="wms-title">突破传统 高效协同</h1>
                        <ul class="wms-text">
                            <li>全新在线协同工作，突破以往沟通不及时 不到位及有误差的情况，达到高效、准确、 低碳的理念
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>