<!-- banner -->
<div class="banner m-t-50">
    <div class="banner-bg"></div>
    <div class="container">
        <div class="banner-content p-t-40">
            <div class="logo m-b-20">
                <img src="./assets/img/cms/logo.png" alt="logo">
            </div>
            <div class="title el-row  t-a-c">
                <div class="el-col  el-col-sm-16">
                    <h1 class="m-b-10">关务操作管理系统CMS</h1>
                    <p>CUSTOMS MANAGEMENT SYSTEM CMS</p>
                </div>
                <div class="el-col  el-col-sm-8 btn xs-hide">
                    <button class="el-button btn-blue">立即前往 >></button>
                </div>
            </div>
            <div class="el-row m-t-30 xs-hide" style="margin-left: -30px;margin-right: -30px;">
                <ul class="el-col el-col-sm-12 list" style="padding: 0 30px;">
                    <li>
                        <span>操作简单</span>
                        <p>规范数据，减少录入，一单多报</p>
                    </li>
                    <li>
                        <span>控制风险</span>
                        <p>个性分析，满足AEO，制单无误</p>
                    </li>
                    <li>
                        <span>减低成本</span>
                        <p>高效工作，杜绝加班，事半功倍</p>
                    </li>
                </ul>
                <ul class="el-col el-col-sm-12 list" style="padding: 0 30px;">
                    <li>
                        <span>状态可视</span>
                        <p>在线跟单，自动查询，即时监控</p>
                    </li>
                    <li>
                        <span>财务便利</span>
                        <p>账龄提醒，报表分析，自动结算</p>
                    </li>
                    <li>
                        <span>价值体现</span>
                        <p>省时 省力 省心</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- 板块1 -->
<div class="p-60-0">
    <div class="container">
        <div class="el-row cms-bg cms-bg-1" style="margin: 0 -10px;">
            <h1 class="t-a-c el-col el-col-24" style="padding: 0 5px;">一款可
                <span class="main-color">省50%成本</span>的智能通关管理系统</h1>
            <div class="el-col el-col-xs-24 el-col-sm-8 xs-show cms-bg-img" style="padding: 0 5px;">
                <img src="./assets/img/cms/computer.png" alt="">
            </div>
            <div class="el-col el-col-xs-12 el-col-sm-8" style="padding: 0 5px;">
                <ul class="cms-bg-list p-t-60 t-a-r">
                    <li>
                        <img src="./assets/img/cms/time.png">
                        <h2>省时间</h2>
                        <p>一键制单 全程免录</p>
                    </li>
                    <li>
                        <img src="./assets/img/cms/yan.png">
                        <h2>跟进程</h2>
                        <p>状态可视 尽在掌握</p>
                    </li>
                    <li>
                        <img src="./assets/img/cms/ptai.png">
                        <h2>跨平台</h2>
                        <p class="xs-show">单一窗口 金关二期</p>
                        <p class="xs-hide">对接QP、单一窗口、金关二期</p>
                    </li>
                </ul>
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-8 xs-hide cms-bg-img" style="padding: 0 5px;">
                <img src="./assets/img/cms/computer.png" alt="">
            </div>
            <div class="el-col el-col-xs-12 el-col-sm-8" style="padding: 0 5px;">
                <ul class="cms-bg-list p-t-60 t-a-l">
                    <li>
                        <img src="./assets/img/cms/gou.png">
                        <h2>零差错</h2>
                        <p>智能审核 提醒修正</p>
                    </li>
                    <li>
                        <img src="./assets/img/cms/yun.png">
                        <h2>存数据</h2>
                        <p>建立数据库</p>
                    </li>
                    <li>
                        <img src="./assets/img/cms/aeo.png">
                        <h2>AOE</h2>
                        <p>规范管理 诚信合格</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="bg-469ef0 p-60-0">
    <div class="container">
        <div class="cms-bg cms-bg-2 t-a-c">
            <h1>做报关必备的通关神器</h1>
            <div class="cms-bg-img">
                <img src="./assets/img/cms/shenqi.png" alt="">
            </div>
        </div>
    </div>
</div>

<!-- 板块3 -->
<div class="p-80-0">
    <div class="container">
        <div class="el-row">
            <div class="el-col el-col-xs-24 el-col-sm-12 cms-img">
                <img src="./assets/img/cms/f2.png">
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-12 xs-t-a-r-c">
                <ul class="cms cms-1 p-t-100 t-a-l">
                    <li>
                        <div>
                            <h2>低投入</h2>
                            <p>服务更优 成本更低</p>
                        </div>
                        <div>
                            <p>通关一体化，报关需升级</p>
                            <p>投入最小化，服务最大化</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h2>高效率</h2>
                            <p>无忧制单 一键生成</p>
                        </div>
                        <div>
                            <p>人工智能，体贴入微</p>
                            <p>报关资料，自动生成</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h2>控差错</h2>
                            <p>智能审核 降低风险</p>
                        </div>
                        <div>
                            <p>智能逻辑审核</p>
                            <p>规避操作差错</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="bg-49a0f0 p-80-0">
    <div class="container">
        <div class="el-row">
            <div class="el-col el-col-xs-24 el-col-sm-12 cms-img xs-show">
                <img src="./assets/img/cms/f3.png">
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-12 xs-t-a-c">
                <ul class="cms cms-2 c-fff p-t-60 t-a-l">
                    <li>
                        <div>
                            <h2>跨平台</h2>
                            <p>规范申报 信息共享</p>
                        </div>
                        <div>
                            <p>一单信息，平台共享</p>
                            <p class="xs-hide">一次信息输入，规避多次失误</p>
                            <p class="xs-show">一次输入，规避多次失误</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h2>跟进程</h2>
                            <p>申报状态 全程跟踪</p>
                        </div>
                        <div>
                            <p class="xs-hide">所有申报节点，在线实时跟踪</p>
                            <p class="xs-show">所有申报节点，实时跟踪</p>
                            <p>防患未然，风险可控</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h2>大数据</h2>
                            <p>通关数据 随时查阅</p>
                        </div>
                        <div>
                            <p>申报信息，随时调阅</p>
                            <p class="xs-hide">满足海关要求，永存单证记录</p>
                            <p class="xs-show">满足海关要求，永存单录</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-12 cms-img xs-hide">
                <img src="./assets/img/cms/f3.png">
            </div>
        </div>
    </div>
</div>
<div class="p-t-40 p-60-0">
    <div class="container">
        <div class="el-row">
            <div class="el-col el-col-xs-24 el-col-sm-12 cms-img">
                <img src="./assets/img/cms/f4.png">
            </div>
            <div class="el-col el-col-xs-24 el-col-sm-12 xs-t-a-r-c">
                <ul class="cms cms-3 p-t-100 t-a-l">
                    <li>
                        <div>
                            <h2>利管理</h2>
                            <p>协调分工 智能财务</p>
                        </div>
                        <div>
                            <p>系统管理，账龄提醒</p>
                            <p>智能申报，协同办公</p>
                            <p>报表大全，自动结算</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h2>易认证</h2>
                            <p>达标系统 认证便利</p>
                        </div>
                        <div>
                            <p>分工有序，操作有据</p>
                            <p>风险可控，稽查可循</p>
                            <p>合规管理，尽享红利</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>